/***
*
*   FOOTER TOP
*
*   MODIFICATIONS
*   Last modification date : 20/04/2020
*
*   AUTHORS & COPYRIGHT
*   By : Guillaume Sadler
*   For : Greldas
*   Join us on www.greldas.com
*
***/

footer #footer-top{
    color: $WHITE_COLOR;
}

footer #footer-top ul{
    list-style-type: none;
    padding-left: 0;
}

footer #footer-top a{
    color: rgba(160, 160, 160, 1);
    font-size: 13px;
}

footer #footer-top a:hover{
    color: rgba(250, 250, 250, 1);
}
