{% load i18n static %}

<div class="container">

    <div class="row pt-3">

        <!-- GRELDAS -->
        <div class="col-6 col-sm-3">
            <h3>GRELDAS</h3>
        </div>

        <!-- APPLICATIONS -->
        <div class="col-6 col-sm-3">

            <h3>{% trans 'applications'|upper %}</h3>

            <ul>
                <li>
                    <a href="">
                        {% trans 'account'|upper %}
                    </a>
                </li>
                <li>
                    <a href="">
                        {% trans 'blog'|upper %}
                    </a>
                </li>
                <li>
                    <a href="">
                        {% trans 'forum'|upper %}
                    </a>
                </li>
                <li>
                    <a href="">
                        {% trans 'shop'|upper %}
                    </a>
                </li>
                <li>
                    <a href="">
                        {% trans 'support'|upper %}
                    </a>
                </li>
                <li>
                    <a href="">
                        {% trans 'website'|upper %}
                    </a>
                </li>
            </ul>

        </div>

        <!-- SOCIALS NETWORKS -->
        <div class="col-6 col-sm-3">

            <h3>{% trans 'follow-me !'|upper %}</h3>

            <ul>
                <li>
                    <a target="_blank" href="https://www.facebook.com/Greldas/">
                        {{ 'facebook'|upper }}
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.instagram.com/greldasfr/">
                        {{ 'instagram'|upper }}
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://twitter.com/Greldasfr">
                        {{ 'twitter'|upper }}
                    </a>
                </li>
            </ul>

        </div>

        <!-- PROJECTS -->
        <div class="col-6 col-sm-3">

            <h3>{% trans 'my projects'|upper %}</h3>

            <ul>
                <li>
                    <a target="_blank" href="">
                        {{ 'greldas'|upper }}
                    </a>
                </li>
                <li>
                    <a target="_blank" href="">
                        {{ 'grimordal'|upper }}
                    </a>
                </li>
            </ul>

        </div>

    </div>

</div>
