/***
*
*   NAVBAR BOTTOM
*
*   MODIFICATIONS
*   Last modification date : 20/04/2020
*
*   AUTHORS & COPYRIGHT
*   By : Guillaume Sadler
*   For : Greldas
*   Join us on www.greldas.com
*
***/

/*** VARIABLES ***/

header #navbar-bottom .navbar{
    color: $DARK_GREY_COLOR_1;
}

header #navbar-bottom .navbar a{
    color: $WHITE_COLOR;
}

header #navbar-bottom .navbar a:hover .fa-lightbulb{
    color: $NAV_YELLOW_COLOR;
}

header #navbar-bottom .dropdown-menu{
    background-color: $DARK_GREY_COLOR_1;
}

header #navbar-bottom .dropdown-item:hover{
    background-color: $DARK_GREY_COLOR_1;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px){
    header #navbar-bottom .navbar .navbar-brand{
        padding-left: 25px;
        padding-right: 25px;
        margin-right: 0;
    }
}

header #navbar-bottom .navbar .navbar-brand img.greldas-logo{
    width: 200px;
    height: 30px;
}

@media (max-width: 575.98px) {
    header #navbar-bottom .navbar .navbar-brand img.greldas-logo{
        width: 150px;
        height: 25px;
    }  
}

header #navbar-bottom .navbar h1{
    margin-bottom: 0;
    font-size: 30px;
    font-weight: bold;
}