/***
*
*   FLATPAGE CSS
*
*   AUTHORS & COPYRIGHT
*   By : Guillaume Sadler
*   For : Greldas
*   Join us on www.greldas.com
*
***/

#flatpage.privacy-policy h2{
    font-size: 30px;
    font-weight: bold;
}

#flatpage.privacy-policy h3{
    color: rgba(0, 0, 0, 1);
    font-size: 25px;
    font-weight: bold;
}
