/***
*
*   FLATPAGE CSS
*
*   AUTHORS & COPYRIGHT
*   By : Guillaume Sadler
*   For : Greldas
*   Join us on www.greldas.com
*
***/

#flatpage.tcu p{
    text-align: justify;
}

#flatpage.tcu a{
    font-weight: bold;
}

#flatpage.tcu h2{
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
    display: block;
}

#flatpage.tcu h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: rgba(0, 0, 0, 1);
}